<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    You don't have any date yet!
  </p>

  <%= link_to "Add date", new_quote_line_item_date_path(@quote), data: { turbo_frame: dom_id(LineItemDate.new) }, class: "btn btn--primary" %>
</div>
